@media (max-width: 992px) {
    .size_xl {
        font: var(--font-l);
    }

    .size_l {
        font: var(--font-m);
    }
}

@media (max-width: 768px) {
    .size_l {
        font: var(--font-m);
    }
}
