.title {
    padding-top: 60px;
    font-size: 80px;
}

.mainText {
    padding: 0 100px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 350px;
    grid-auto-rows: 350px;
}

.stage {
    position: relative;
    transition: 0.3s all;
    overflow: hidden;

    &[data-status="active"] {
        cursor: pointer;
        opacity: 0.85;
        
        &:hover {
            opacity: 1;
            transform: scale(1.05);
            box-shadow: 0px 0px 25px 0px #b2a08a;
        }
    }

    &[data-status="nonactive"] {
        cursor: not-allowed;
        .color, .image {
            opacity: 0.3;
        }

        .name {
            opacity: 0.5;
        }
        transition: all 0.3s;
    }
}

.active {
    box-shadow: 0px 0px 25px 0px #b38755;
}

.soon {
    position: absolute;
    border-radius: 50%;
    bottom: -24px;
    right: -46px;
    transform: rotate(-30deg);
    width: 140px;
    height: 70px;
    text-align: center;
    background-color: #b38755;
    color: #dcd4cc;
    opacity: 0.8;
}

.letter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font: var(--font-l);
    color: var(--bg-color);
}

.name {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font: var(--font-xl);
    transform: translate(-50%, 50%);
    z-index: 10;
    font-weight: 700;
    color: var(--hover-color);
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    opacity: 0.5;
}

.color {
    width: 100%;
    height: 30px;
    background-color: var(--inverted-primary-color);
}

.salsaStages {
    padding-top: 50px;
    padding-bottom: 30px;
}

.wrapStage {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 30px;
}

.picture {
    width: 100%;
    height: 300px;
    position: relative;
    top: 110px;
}

.stageTitle {
    font-family: "Algerian";
    font-style: normal;
    font-size: 80px;
}

.subTitle {
    letter-spacing: 20px;
    position: relative;
    
    left: 10px;
}

.btn {
    margin-top: 30px;
    color: var(--inverted-primary-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@import "./SalsaMania.media";
