.Intro {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
}

.wrap {
    position: relative;

    display: grid;
    grid-template-columns: 0.9fr 1fr 0.9fr;

    width: 100%;
    height: 100%;

    h1,
    h2 {
        color: transparent;
        background-image: linear-gradient(45deg, var(--gradient-color-one), var(--gradient-color-two));
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.left {
    position: relative;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.salsaLeft,
.salsaRight {
    position: fixed;
    z-index: 50;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: calc(100vh - var(--navbar-height));

    font-size: 100px;
    color: var(--text-color);

    opacity: 0.8;
}

.salsaRight {
    right: 0;
    left: unset;
}

.center {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}

.logo {
    width: 180px;
    height: 180px;
    position: relative;
    z-index: 50;
}

.logoNewYear {
    width: 200px;
    height: 260px;
}

.right {
    position: relative;
    object-fit: cover;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.title {
    position: relative;
    z-index: 10;
    right: -16px;

    font-size: var(--font-size-title-xl);
    line-height: var(--font-line-title-xl);
    font-weight: 700;
}

.subtitle {
    position: relative;
    z-index: 10;
    right: -8px;

    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    padding: 5px 15px;

    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 700;
    text-align: center;
}

.salsaIsMore {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    font-weight: 700;
}

@import "./Intro.media"
