@media (max-width: 992px) {
    .Footer {
        max-height: 100%;
        padding: var(--padding-m);
    }

    .wrap {
        flex-direction: column;
        justify-content: space-around;
    }

    .text {
        padding: 10px;
    }

    .social {
        padding: 10px;
    }
}
