@media (max-width: 992px) {
    .size_xl {
        font-size: var(--font-size-l);
    }

    .size_l {
        font-size: var(--font-size-m);
    }
}

@media (max-width: 768px) {
    .size_l {
        font-size: var(--font-size-l);
    }
}

@media (max-width: 576px) {
    .arrowWrap {
        width: 70px;
    }

    .arrowRight {
        top: 12px;
    }

    .arrowLeft::after {
        width: 35px;
        height: 7px;
    }

    .arrowRight::after {
        width: 35px;
        height: 7px;
    }
}
