.dark {
    --bg-color: var(--dark-color);
    --inverted-bg-color: var(--light-color);
    --bg-color-second: var(--dark-color-second);
    --inverted-bg-color-second: var(--light-color-second);
    --bg-color-navbar: var(--light-color-salsamania);
    --inverted-bg-color-navbar: var(--light-color-salsamania);
    --link-color: var(--gold-color);
    --logo-color: var(--gold-color);
    --text-color: var(--gold-color);
    --tabs-bg-color: var(--tabs-bg-color-dark);
    --tabs-color: var(--tabs-color-dark);
    --table-head-bg-color: var(--table-head-bg-color-dark);
    --table-head-color: var(--table-head-color-dark);
    --table-body-bg-color: var(--table-body-bg-color-dark);
    --table-body-color: var(--table-body-color-dark);
    --price-header-color: var(--price-header-color-dark);
    --price-subheader-color: var(--price-subheader-color-dark);
    --price-color-even: var(--price-color-dark-even);
    --price-color-odd: var(--price-color-dark-odd);
    --footer-bg-color: var(--dark-color-navbar);
    --footer-color: var(--link-color-light-salsamania);
    --primary-color: var(--light-color);
    --inverted-primary-color: var(--gold-color);
    --secondary-color: #171ab8;
    --inverted-secondary-color: #04e016;
    //form
    --form-bg-color: var(--form-bg-color-dark);
    --salsa-color: var(--salsa-dark-color);
    --hover-color: var(--hover-color-salsamania);
}
