.dark {
    --bg-color: var(--dark-color);
    --inverted-bg-color: var(--light-color);
    --bg-color-second: var(--dark-color-second);
    --inverted-bg-color-second: var(--light-color-second);
    
    --tabs-bg-color: var(--tabs-bg-color-dark);
    --tabs-color: var(--tabs-color-dark);
    --price-header-color: var(--price-header-color-dark);
    --price-color-even: var(--price-color-dark-even);
    --price-color-odd: var(--price-color-dark-odd);

    --primary-color: var(--gold-color);
    --inverted-primary-color: var(--gold-color);
    --hover-color: var(--hover-color-dark);
}
