@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primary-color);

    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
    -webkit-tap-highlight-color: transparent;
}

.lock {
    overflow: hidden;
}

.app {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 100vh;

    background: var(--bg-color);
}

.notFound {
    height: calc(100vh - 150px - var(--navbar-height));
    background: var(--bg-color-second);
    padding: var(--padding-l);

    .wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.modal {
    position: absolute;
    width: 100vh;
    height: 100%;
    z-index: 100;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.content-page {
    position: relative;
    display: flex;
    flex: 1 0 auto;
}

main {
    position: relative;
}


.toy {
    width: 30px;
}

.small {
    height: 34px;
}

.medium {
    height: 36px;
}

.large {
    height: 39px;
}

.link {
    position: relative;

    font-size: var(--font-size-m);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    background-image:
        linear-gradient(
            to right,
            var(--primary-color),
            var(--primary-color) 50%,
            var(--primary-color) 50%
        );
    background-position: -100%;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;

    transition: all 0.3s ease-in-out;

    -webkit-text-fill-color: transparent;

    &::before {
        content: "";

        position: absolute;
        bottom: -1px;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        background: var(--primary-color);

        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;

        &::before {
            width: 100%;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navbarLink {
    margin-right: 20px;
    position: relative;
}

.drawerLink {
    font-size: var(--font-size-m);
    text-transform: none;
    color: var(--primary-color);
    text-decoration: none;
}


.pageup {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.pageup.link:hover::before {
    display: none;
}

.up {
    display: block;

    width: 40px;
    height: 40px;

    opacity: 0;

    transition: all 0.3s;
}

.activeScroll {
    .up {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .navbarLink {
        margin-right: 0;
        margin-bottom: 30px;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        text-decoration: none;
        position: relative;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
        padding: 0 10px;
    }

    .toy {
        width: 25px;
    }

    .small {
        height: 28.3px;
    }

    .medium {
        height: 30px;
    }

    .large {
        height: 32.5px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    .toy {
        width: 17px;
    }

    .small {
        height: 19.26px;
    }

    .medium {
        height: 20.4px;
    }

    .large {
        height: 22.1px;
    }
}