@media (max-width: 1200px) {
    .Questions {
        padding: var(--padding-xl);
    }
}

@media (max-width: 992px) {
    .Questions {
        padding: var(--padding-l);
    }
}

@media (max-width: 768px) {
    .Questions {
        padding: var(--padding-m);
    }

    .wrap {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .title {
        margin-bottom: 0;
    }
}
