@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,300&display=swap");

:root {
    --font-family-main: "Jost", "Times New Roman", sans-serif;

    // TEXT
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-sm: 14px;
    --font-line-sm: 18px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
    --font-size-m: 17px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-ml: 20px;
    --font-line-ml: 28px;
    --font-ml: var(--font-size-ml) / var(--font-line-ml) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // TITLE
    --font-size-title-xs: 40px;
    --font-line-title-xs: 48px;
    --font-title-xs: var(--font-size-title-xs) / var(--font-line-title-xs) var(--font-family-main);
    --font-size-title-s: 48px;
    --font-line-title-s: 56px;
    --font-title-s: var(--font-size-title-s) / var(--font-line-title-s) var(--font-family-main);
    --font-size-title-m: 56px;
    --font-line-title-m: 64px;
    --font-title-m: var(--font-size-title-m) / var(--font-line-title-m) var(--font-family-main);
    --font-size-title-l: 64px;
    --font-line-title-l: 72px;
    --font-title-l: var(--font-size-title-l) / var(--font-line-title-l) var(--font-family-main);
    --font-size-title-xl: 72px;
    --font-line-title-xl: 80px;
    --font-title-xl: var(--font-size-title-xl) / var(--font-line-title-xl) var(--font-family-main);

    // Размеры
    --navbar-height: 80px;
    --navbar-height-mobile: 50px;

    // Цвета
    --light-color: #e9e9e9;
    --light-color-second: #fff;

    --light-color-salsamania: #000000;

    --dark-color: #000000;
    --dark-color-second: #02000a;

    --dark-color-navbar: #040a22;

    --gold-color: #d39f64;
    --shadow-color: rgb(171 0 157 / 22.6%);
    --text-color-light: #f0f0f0e3;
    --text-color-light-salsamania: #d39f64;
    --text-color-dark: #4d4d4d;
    --hover-color-pink: #e52d87;
    --hover-color-salsamania: #d39f64;
    --link-color-light: #cacacada;
    --link-color-light-salsamania:#d39f64;
    --link-color-dark: #716b70;
    --epigraph-color: #e2a45d;
    --red-light: #dd0025;
    --salsa-light-color: rgb(232, 231, 231);
    --salsa-dark-color: #24115a;
    --green-light: rgb(31, 143, 9);
    // tabs
    --tabs-bg-color-light: #949494da;
    --tabs-color-light: #505050da;
    --tabs-bg-color-dark: #777777da;
    --tabs-color-dark: #fcfcfc;

    //form
    --form-bg-color-light: #d0d3d3;
    --form-bg-color-dark: #232159;

    // table
    --table-head-bg-color-light: #737b7cda;
    --table-head-color-light: #e6e4e4ec;
    --table-head-bg-color-dark: #0b0a30;
    --table-head-color-dark: #e6e6e6de;
    --table-body-bg-color-light: #9c9b9bda;
    --table-body-color-light: #444444da;
    --table-body-bg-color-dark: #1e2d47be;
    --table-body-color-dark: #d6d4d4e5;

    // price
    --price-header-color-light: #cbe0e4;
    --price-header-color-dark: rgb(58, 14, 66);
    --price-subheader-color-light: rgb(68 71 103 / 46%);;
    --price-subheader-color-dark: rgb(52, 12, 105);
    --price-color-light-even: #c1b6bc9f;
    --price-color-dark-even: #1e1144c7;
    --price-color-light-odd: #c9ccdd9f;
    --price-color-dark-odd: #36072e;
    --inverted-text-color: #e3f5f5;
    --overlay-color: rgba(0 0 0 / 80%);
    --input-color: #d3d3d3;
    --input-color-focus: rgb(144 183 228 / 81.5%);
    --gradient-color-one: #553c9a;
    --gradient-color-two: #ee4b2b;

    // z - Индексы
    --menu-z-index: 10;
    --navbar-z-index: 11;
    --modal-z-index: 50;

    // Отступы
    --padding-m: 30px 0;
    --padding-l: 45px 0;
    --padding-xl: 60px 0;
    --margin-s: 15px;
    --margin-m: 30px;
}
