:root {
    // TEXT

    // S
    --font-size-s: 12px;
    --font-line-s: 16px;
    // SM
    --font-size-sm: 14px;
    --font-line-sm: 18px;
    // M
    --font-size-m: 17px;
    --font-line-m: 24px;
    // ML
    --font-size-ml: 20px;
    --font-line-ml: 28px;
    // L
    --font-size-l: 24px;
    --font-line-l: 32px;
    // XL
    --font-size-xl: 32px;
    --font-line-xl: 40px;

    // TITLE
    // XS
    --font-size-title-xs: 40px;
    --font-line-title-xs: 48px;
    // S
    --font-size-title-s: 48px;
    --font-line-title-s: 56px;
    // SM
    --font-size-title-sm: 52px;
    --font-line-title-sm: 60px;
    // M
    --font-size-title-m: 56px;
    --font-line-title-m: 64px;
    // L
    --font-size-title-l: 64px;
    --font-line-title-l: 72px;
    // XL
    --font-size-title-xl: 72px;
    --font-line-title-xl: 80px;

    // Размеры
    --navbar-height: 80px;
    --navbar-height-mobile: 50px;

    // Цвета
    --light-color: #e9e9e9;
    --light-color-second: #fff;

    --gold-color: #d39f64;

    --dark-color: #000000;
    --dark-color-second: #02000a;

    --hover-color-light: rgb(71 71 71 / 24.8%);
    --hover-color-dark: rgb(71 71 71 / 24.8%);

    
    --shadow-color: rgb(171 0 157 / 22.6%);
    --text-color-light: #f0f0f0e3;
    --text-color-dark: #4d4d4d;    
    
    --epigraph-color: #e2a45d;
    --red-light: #dd0025;
    // tabs
    --tabs-bg-color-light: #949494da;
    --tabs-color-light: #505050da;
    --tabs-bg-color-dark: #777777da;
    --tabs-color-dark: #fcfcfc;
    // price
    --price-header-color-light: #cbe0e4;
    --price-header-color-dark: rgb(58, 14, 66);
    --price-color-light-even: #c1b6bc9f;
    --price-color-dark-even: #1e1144c7;
    --price-color-light-odd: #c9ccdd9f;
    --price-color-dark-odd: #36072e;
    --overlay-color: rgba(0 0 0 / 80%);
    --gradient-color-one: #553c9a;
    --gradient-color-two: #ee4b2b;

    // z - Индексы
    --menu-z-index: 10;
    --navbar-z-index: 11;
    --modal-z-index: 50;

    // Отступы
    --padding-m: 30px 0;
    --padding-l: 45px 0;
    --padding-xl: 60px 0;
    --margin-s: 15px;
    --margin-m: 30px;
}
