.NavBar {
    z-index: var(--navbar-z-index);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 25px;
    font-size: var(--font-size-ml);
    line-height: var(--font-line-ml);

    background: var(--bg-color);
    box-shadow: 0 7px 25px 0 var(--shadow-color);
}

.wrap {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
    }
}

.menu {
    display: none;
}

@import "./NavBar.media"
