.superWrap {
    position: relative;
}

.Salsa {
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
    position: relative;
}

.partSnow {
    position: absolute;
    left: 52%;
    opacity: 0.4;
    top: 0;
    width: 202px;
    height: 109px;
    z-index: 3;
}

.wrap {
    position: relative;

    display: grid;
    grid-template-columns: 25% 75%;
}

.sax {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 55px;
    transform: rotate(5deg);

    opacity: 0.75;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.epigraph {
    align-self: self-end;
}


@import "./Salsa.media";
