@media (max-width: 1200px) {
    .Abonement {
        padding: var(--padding-xl);
    }

}

@media (max-width: 992px) {
    .Abonement {
        padding: var(--padding-l);
    }
}

@media (max-width: 768px) {
    .Abonement {
        padding: var(--padding-m);
    }
}
