@media (max-width: 992px) {
    .wrap {
        grid-template-rows: [row1-start] 100px [row2]  60px [row3] 60px [row4] 60px [row5] 80px [row6] 80px [row7] 60px [row8] 60px [row9] 60px [last];
    }

    .title {
        span {
            &::after,
            &::before {
                content: "";
                width: 0;
            }
        }
    }

    .old,
    .note {
        // font-size: var(--font-size-m);
        // line-height: var(--font-line-m);
        font-style: italic;
    }
}

@media (max-width: 768px) {
    .meshok {
        display: none;
    }
    .wrap {
        display: grid;
        grid-template-columns: [start] 1fr [line2] 1fr [line3] 1fr [end];
        grid-template-rows: [row1-start] 100px [row2]  50px [row3] 50px [row4] 65px [row5] 50px [row6] 65px [row7] 50px [row8] 65px [row9] 50px [row10] 65px [row11] 50px [row12] 65px [row13] 50px [row14] 65px [row15] 50px [row16] 65px [row17] 50px [last];
        gap: 3px;

        margin-top: 25px;
    }

    .couple {
        grid-column: 1 / span 3;
    }

    .woman {
        grid-column: 1 / span 3;
        grid-row: 17;
    }

    .student,
    .body,
    .old,
    .note {
        margin-bottom: 0;
    }

    .third {
        grid-column: span 3;
    }
}

@media (max-width: 576px) {
    .part {
        font-size: var(--font-size-ml);
        line-height: var(--font-line-ml);
    }
}

@media (max-width: 450px) {
    .wrap {
        grid-template-rows: [row1-start] 100px [row2]  50px [row3] 50px [row4] 60px [row5] 50px [row6] 60px [row7] 50px [row8] 60px [row9] 50px [row10] 60px [row11] 50px [row12] 60px [row13] 50px [row14] 60px [row15] 50px [row16] 60px [row17] 50px [last];
    }

    .student,
    .body {
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        font-style: italic;
        hyphens: manual;
    }

    .old,
    .note {
        font-size: var(--font-size-s);
        line-height: var(--font-line-s);
        font-style: italic;
    }

}
